# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Others, added by liuzhushiqiang
Debug/
justfortest/Debug/
*.opensdf
*.sln
*.suo
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
